# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PhpStorm\projet-dragon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
